<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        .card {
            height: 100vh;
            background-color: #fae8f0;
        }

        #product_img {
            height: 350px !important;
            max-width: 100%;
        }
    </style>
</head>
<div class="container">
    <div class="d-flex">
        <p class="mr-5">Đăng tải lúc: 06:00 01/01/2020</p>
        <p>Cập nhật: 06:00 20/01/2020</p>
    </div>
    <div class="row">
        <div class="col-9">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title text-danger">Sản phẩm số 1</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa veniam deserunt
                        magnam, a sed tempora doloremque error accusamus, quisquam nobis maxime adipisci officia vitae
                        officiis neque. Recusandae dicta perferendis non.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-3">
            <img id="product_img"
                src="https://didongviet.vn/pub/media/catalog/product//i/p/iphone-11-pro-max-xanh-reu-didongviet_7.jpg"
                alt="image">
            <p class="text-center text-danger">Giá: 5000000 đ</p>
        </div>
    </div>
</div>